* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  font-family: "Montserrat", sans-serif;
}

.task-card,
.popup-card {
  width: 800px;
  border-radius: 3px;
}

.task,
.popup__edit-task {
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding-left: 10px;
}

.card {
  overflow: hidden;
  box-shadow: 1px 1px 7px 1px rgb(66, 68, 90);
}
.card__upper {
  text-align: center;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  width: 100%;
  padding: 5px;
}
.card__upper .title {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 50px;
  color: white;
  padding-top: 10px;
}
.card__upper .input-box {
  margin: 15px;
}
.card__upper .input-box .task {
  margin-right: 20px;
}
.card__upper .input-box .btn-add {
  text-transform: uppercase;
  height: 40px;
  border: none;
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.card__upper .input-box .btn-add:hover {
  background-color: #777676;
  color: white;
}
.card__upper .input-box .action {
  background-color: #777676;
  color: white;
}
.card__upper .input-box .warning {
  color: red;
  margin-top: 10px;
}
.card__bottom {
  overflow-y: scroll;
  text-align: center;
  width: 100%;
  padding: 10px;
  max-height: 300px;
}
.card__bottom .tasks-list-title {
  text-transform: uppercase;
  margin: 5px 0 5px 0;
}
.card__bottom .tasks-messange {
  text-transform: uppercase;
  color: #09c6f9;
  margin-bottom: 5px;
}
.card__bottom ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 5px;
  padding-left: 10px;
  height: 40px;
  background-color: #f0f0f0;
  list-style: none;
}
.card__bottom ul li .tools {
  display: inline-block;
}
.card__bottom ul li .tools button {
  font-size: 18px;
  border: none;
  margin: 0 10px 0 10px;
  background: none;
  padding: 10px;
  cursor: pointer;
}
.card__bottom ul li .tools button i {
  pointer-events: none;
}
.card__bottom ul li .tools .complete {
  color: #3acf44;
}
.card__bottom ul li .tools .edit {
  color: #09c6f9;
}
.card__bottom ul li .tools .delete {
  color: #ff0000;
}

.popup {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 15px;
  border: 0.5px solid rgb(180, 167, 167);
  text-align: center;
}
.popup__title {
  text-transform: uppercase;
  letter-spacing: 6px;
}
.popup__warning {
  margin: 10px 0 10px 0;
}
.popup__btns {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.popup__btns .btn {
  font-size: 12px;
  padding: 10px 22px;
  background-color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  height: 30px;
  min-width: 160px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.popup__btns .btn:hover {
  background-color: #777676;
  color: white;
}
.popup__btns .submit {
  color: #3acf44;
}
.popup__btns .cancel {
  color: #ff0000;
}

.active {
  display: block;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */