* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	font-family: "Montserrat", sans-serif;
}
.task-card,
.popup-card {
	width: 800px;
	border-radius: 3px;
}
.task,
.popup__edit-task {
	width: 500px;
	height: 40px;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	padding-left: 10px;
}

.card {
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 7px 1px rgba(66, 68, 90, 1);
	-moz-box-shadow: 1px 1px 7px 1px rgba(66, 68, 90, 1);
	box-shadow: 1px 1px 7px 1px rgba(66, 68, 90, 1);
	&__upper {
		margin-bottom: 10px;
		text-align: center;
		background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
		width: 100%;
		padding: 5px;
		.title {
			text-transform: uppercase;
			letter-spacing: 6px;
			font-size: 50px;
			color: white;
			padding-top: 10px;
		}

		.input-box {
			margin: 15px;
			.task {
				margin-right: 20px;
			}
			.btn-add {
				text-transform: uppercase;
				height: 40px;
				border: none;
				font-size: 16px;
				padding: 8px 25px;
				border-radius: 8px;
				cursor: pointer;
				transition: color 0.3s, background-color 0.3s;
			}
			.btn-add:hover {
				background-color: #777676;
				color: white;
			}
			.warning {
				color: red;
				margin-top: 10px;
			}
		}
	}
	&__bottom {
		overflow-y: scroll;
		text-align: center;
		width: 100%;
		padding: 10px;
		max-height: 300px;
		.tasks-list-title {
			text-transform: uppercase;
			margin: 5px 0 5px 0;
		}
		.tasks-messange {
			text-transform: uppercase;
			color: #09c6f9;
			margin-bottom: 5px;
		}
		ul {
			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-radius: 3px;
				margin-bottom: 5px;
				padding-left: 10px;
				height: 40px;
				background-color: #f0f0f0;
				list-style: none;
				.tools {
					display: inline-block;

					button {
						font-size: 18px;
						border: none;
						margin: 0 10px 0 10px;
						background: none;
						padding: 10px;
						cursor: pointer;
						i {
							pointer-events: none;
						}
					}
					.complete {
						color: #3acf44;
					}
					.edit {
						color: #09c6f9;
					}
					.delete {
						color: #ff0000;
					}
				}
			}
		}
	}
}
.popup {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f0f0f0;
	padding: 15px;
	border: 0.5px solid rgb(180, 167, 167);
	text-align: center;
	&__title {
		text-transform: uppercase;
		letter-spacing: 6px;
	}
	&__warning {
		margin: 10px 0 10px 0;
	}
	&__btns {
		display: flex;
		justify-content: space-around;

		margin-top: 15px;
		.btn {
			font-size: 12px;
			padding: 10px 22px;
			background-color: white;
			text-transform: uppercase;
			border: none;
			border-radius: 8px;
			height: 30px;
			min-width: 160px;
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;
		}
		.btn:hover {
			background-color: #777676;
			color: white;
		}
		.submit {
			color: #3acf44;
		}
		.cancel {
			color: #ff0000;
		}
	}
}
.active {
	display: block;
}
.completed {
	text-decoration: line-through;
	font-style: italic;
	font-size: 12px;
}
